.container {
  .container_Dtail {
    section {
      display: flex;
      width: 100%;
      min-height: 800px;
      //background: #a8cfdd;
      margin: 60px 0 0 0;


      .detail_Sidebar {
        width: 21%;
        height: 219px;
        //border: 1px solid black;
        margin-left: 100px;
        .dat {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: right;
          width: 200px;
          height: 73px;
          border-bottom: 1px solid #e7e7e7;
          margin-left: auto;

          h3 {

            font-family: OpenSansb;
            font-size: 13px;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.26px;
            color: #313131;
          }

          p {
            margin-top: -25px;
            font-size: 13px;
            font-family: OpenSansR;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.26px;
            color: #585858;

          }


        }
        .shr {
          text-align: right;
          h3 {
            margin-top: 12px;
            font-family: OpenSansb;
            font-size: 13px;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.26px;
            color: #313131;
          }
          .ic_Row {
            margin-top: 12px;
            font-size: 26px;
          }

        }


      }
      .detail_Article {
        width: 64%;
        min-height: 800px ;
        h1 {
          max-width: 933px;

          margin: 10px 51px 23px 34px;
          font-family: Montserrat;
          font-size: 50px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.12;
          letter-spacing: -1.5px;
          text-align: left;
          color: #313131;

        }
        h2 {
          max-width: 1037px;

          margin: 30px 4px 2px 37px;
          font-family: OpenSansR;
          font-size: 20px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: -0.4px;
          text-align: left;
          color: #404040;
        }
        .twoColsWrap {
          margin: 30px 4px 2px 37px;
          //column-max-width: 470px  ;
          max-width: 930px;
          column-count: 2;
          column-gap: 3%;
          p {
            text-indent: 20px;
            margin: 0 0 20px 0;
            font-family: OpenSansR;
            font-size: 14px;
            line-height: 1.57;
            text-align: left;
            color: #626262
          }
          .articleImg {
            margin-bottom: 20px;
          }

        }

      }

    }
  }
}